* {
    font-family: 'DotGothic16', sans-serif;
}

h1 {
    text-align: center;

}

body {
    max-width: 900px;
    width: 100%;
    margin: auto;
}

input {
    width: 90%;
    margin: auto;
    height: 1.2rem;
}

.result_table {
    margin-bottom: 3rem;
}

.caution {
    font-size: 14px;
    color: lightpink;
    text-align: center;
}

div {
    margin: 2rem 0;
}

input[type="button"] {
    width: 80%;
    display: block;
    margin: 2rem auto;
    height: 2rem;
    background-color: #f08080;
    border: #f08080;
    color: #fff;
}

ul {
    padding: 0;
    margin: 0;
}

.suggest_item {
    border: 1px solid #aaa;
    width: 88%;
    font-size: .8rem;
    line-height: 1.2rem;
    padding: .1rem .5rem;
    ;
}

.suggest_list {
    display: none;
}

#suggest {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #CCCCFF;
    width: 1000px;
    height: 200px;
    overflow: scroll;
}

#suggest div {
    display: block;
    /* width: 200px; */
    overflow: hidden;
    white-space: nowrap;
    margin: .5rem 0;
}

#suggest div.select {
    /* キー上下で選択した場合のスタイル */
    color: #FFFFFF;
    background-color: #3366FF;
}

#suggest div.over {
    /* マウスオーバ時のスタイル */
    background-color: #99CCFF;
}